.main-hour {
    &__wrap {
        @extend %flex-column-center;
        gap: 5px;
        min-width: 76px;
        padding: 10px;
        border: 1px solid #BDBDBD;
        border-radius: $radius-10;
        box-shadow: $shadow-hourly;
    }

    &__time {
        font-size: 12px;
        color: $hourly-time;
    }

    &__temp {
        font-size: 20px;
        color: $hourly-temp;
    }

    &__type {
        font-size: 14px;
        color: $hourly-type;
        text-transform: capitalize;
    }

    &__sunny {
        border: 1px solid $sunny-brdr;
        background: $sunny;
    }

    &__cloudy,
    &__foggy {
        border: 1px solid $cloudy-brdr;
        background: $cloudy;
    }

    &__rainy,
    &__snowy {
        border: 1px solid $rainy-brdr;
        background: $rainy;
    }

    &__stormy {
        border: 1px solid $stormy-brdr;
        background: $stormy;
    }
}