@use './partials/reset';
@use './partials/variables';
@use './partials/extends';

body {
    font-family: "Inter", sans-serif;
}

.main-wrapper {
    @extend %flex-column-start;
    gap: $main-wrapper-gap;
    min-height: 100vh;
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;
    padding: $main-padding;
    border-radius: $radius-20;

    @media screen and (min-width: 768px) {
        min-height: auto;
    }
}

.main-app-name {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: $main-padding;
    border-radius: $radius-20;
    background: $app-name;
    text-transform: uppercase;
    text-align: center;
}

.main-left-right {
    width: 100%;
    @extend %flex-column-start;
    gap: 20px;
}

.main-left {
    width: 100%;
    @extend %flex-column-start;
    flex: 1;
    padding: $main-padding;
    border-radius: $radius-20;
    // background: $main-left-grey;
    background: #F9FAFB;

    &-hourly {
        @extend %flex-center;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        max-height: 230px;
        margin-top: 25px;
        overflow: hidden auto;
    }
}

.main-right {
    width: 100%;
    flex: 1;
    padding: $main-padding;
    border-radius: $radius-20;
    background: $main-right-white;

    &-head {
        text-transform: capitalize;
        font-weight: 200;
    }

    &-daily {
        @extend %flex-center;
        flex-wrap: wrap;
        gap: 10px 5px;
        margin-top: 20px;

        @media screen and (min-width: 1024px) {
            gap: 15px;
        }
    }
}