@use './partials/reset';
@use './partials/variables';
@use './partials/extends';

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-wrapper {
    @extend %flex-column-center;
    gap: $main-wrapper-gap;
    min-height: 100vh;
    border-radius: $radius-20;
    padding: $main-padding;
}

.main-app-name {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: $main-padding;
    border-radius: $radius-20;
    background: $app-name;
    text-transform: uppercase;
    text-align: center;
}

.main-left {
    width: 100%;
    @extend %flex-column-start;
    flex: 1;
    padding: $main-padding;
    border-radius: $radius-20;
    background: $main-left-grey;

    &-hourly {
        @extend %flex-center;
        gap: 15px;
        flex-wrap: wrap;
        max-height: 230px;
        margin-top: 25px;
        overflow: hidden auto;
    }
}

.main-right {
    width: 100%;
    flex: 1;
    padding: $main-padding;
    border-radius: $radius-20;
    background: $main-right-white;

    &-head {
        text-transform: capitalize;
        font-weight: 200;
    }

    &-daily {
        @extend %flex-start;
        flex-wrap: wrap;
        gap: 10px 5px;
        margin-top: 20px;
    }
}