.main-left {
    &__mid {
        width: 100%;
        @extend %flex-column-center;
        flex: 1
    }

    &__temp {
        @extend %flex-start;

        &__num {
            font-size: 80px;
            letter-spacing: 4px;
            line-height: 1;

            @media screen and (min-width: 768px) {
                font-size: 120px;
            }

            @media screen and (min-width: 1024px) {
                font-size: 150px;
            }
        }
    }

    &__unit {
        font-size: 40px;
        font-weight: 100;
        margin-left: 10px;
    }

    &__metrics {
        @extend %flex-start;
        align-self: flex-start;
        gap: 10px;
        margin-top: 10px;

        &-type {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 200;
        }
    }
}