.main-left {
    &__temp {
        @extend %flex-start;

        &__num {
            font-size: 80px;
            letter-spacing: 4px;
            line-height: 1;
        }
    }

    &__unit {
        font-size: 40px;
        font-weight: 100;
        margin-left: 10px;
    }

    &__metrics {
        @extend %flex-start;
        gap: 10px;
        margin-top: 10px;

        &-type {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 200;
        }
    }
}