.main-left {
    &__greet__date {
        @extend %flex-between-center;
        font-weight: 200;
        margin-bottom: 20px;
    }

    &__greeting {
        text-transform: capitalize;
    }

    &__location {
        font-size: 18px;
        font-weight: 200;
    }
}